body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    color: white;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pictures/gjwF3CaJSee2Hr3LUodYyJ-1200-80.jpg'); 
    background-size: cover;
    z-index: -1;
    animation: moveBackground 40s linear infinite; 
}


@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


.container {
    margin-top: 50px;
    position: relative; 
}

.title {
    color: #4CAF50;
}

.pet {
    margin-top: 20px;
}

.metrics {
    margin-top: 20px;
}

.actions {
    margin-top: 20px;
}

.name {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#pet {
    position: relative;
}

#pet-img {
    width: 100px;
    height: auto;
    transition: transform 0.5s ease;
}

.eating {
    animation: eatingAnimation 0.5s infinite;
}

@keyframes eatingAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.waking-up {
    animation: wakingUpAnimation 1s forwards;
}

@keyframes wakingUpAnimation {
    0% {
        transform: translateY(-50px) scale(0.8);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.crying {
    animation: cryingAnimation 0.5s infinite;
}

@keyframes cryingAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

